@import "tailwindcss";

:root {
  --primary: #F4B32A;
  --accent-red: #D1302C;
  --accent-black: #000000;
  --background-light: #FFFFFF;
  --background-dark: #1A1A1A;
}

@theme inline {
  --color-primary: var(--primary);
  --color-accent-red: var(--accent-red);
  --color-accent-black: var(--accent-black);
  --color-background: var(--background-light);
  --font-display: 'Plus Jakarta Sans', sans-serif;

  /* Custom colors */
  --color-primary-500: #F4B32A;
  --color-accent-red-500: #D1302C;
  --color-accent-black-500: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --foreground: #F0F0F0;
  }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined.fill {
  font-variation-settings: 'FILL' 1;
}

body {
  background: var(--background-light);
  color: #1A1A1A;
  font-family: 'Plus Jakarta Sans', sans-serif;
  min-height: 100dvh;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--background-dark);
    color: #F0F0F0;
  }
}

/* Leaflet CSS fix for NextJS */
.leaflet-container {
  height: 100%;
  width: 100%;
}
